.multi-select {}

.tags-container {
  display: flex;
  flex-flow: row wrap;
  width: 15%;
  border: 1px solid black;
}

.tags-container:empty {
  display: none;
}

.tag {
  display: flex;
  align-items: center;
  margin: 2px;
  border: 1px solid black;
  background: powderblue;
  overflow: hidden;
}

.tag-text {
  padding: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-delete {
  margin: 5px;
  color: red;
}