body {
    background: black;
}

.sequencer {
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-gap: 5px;
}

.sound-selects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 

.sound-selects > * {
    background: none;
    color: white;
}

button {
    background: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}