body {
    background: black;
}

.sequencer-controls {
    margin-bottom: 10px;
}

.sequencer-controls > * {
    background: none;
    color: silver;
    margin-right: 10px;
}

.sequencer-row {
    display: flex;
    align-items: center;
}

.black {
    background: black;
}

.silver {
    color: silver;
}